openapi: 3.0.3
info:
  title: Credit Profile (OAS 3.1.0)
  version: 2.0.84
servers:
- url: https://sandbox-us-api.experian.com/consumerservices/credit-profile
paths:
  /v2/credit-report:
    post:
      tags:
      - Consumer Services
      summary: Credit Report
      description: 'Retrieves a credit profile with scores and addons requested. This
        is CR API Version 2.<br><br> We are providing 18 test cases for client testing
        under "Examples" button below which include first 13 positive test cases and
        rest 5 negative test cases. Eg: Success_1, Failure_Invalid surname etc.'
      operationId: CreditReports
      parameters:
      - name: clientReferenceId
        in: header
        description: API client generated reference Id to uniquely identify the API
          request.
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: "Consumer's PII , Requestor Information, Addons and any custom\
          \ options to be specified here."
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/creditProfileRequest'
            examples:    
              Request schema:   #Request schema
                value:
                    {
                      "consumerPii": {
                        "primaryApplicant": {
                          "name": {
                            "lastName": "string",
                            "firstName": "string",
                            "middleName": "string",
                            "generationCode": "string",
                            "prefix": "string"
                          },
                          "dob": {
                            "dob": "string"
                          },
                          "ssn": {
                            "ssn": "string"
                          },
                          "ein": {
                            "ein": "string"
                          },
                          "tin": {
                            "tin": "string"
                          },
                          "driverslicense": {
                            "number": "string",
                            "state": "string"
                          },
                          "secondaryId": {
                            "type": "string",
                            "value": "string",
                            "region": "string",
                            "country": "string",
                            "expiration": "string"
                          },
                          "phone": [
                            {
                              "number": "string",
                              "type": "string"
                            }
                          ],
                          "emailId": {
                            "emailId": "string"
                          },
                          "employment": {
                            "employerName": "string",
                            "employerAddress": {
                              "line1": "string",
                              "line2": "string",
                              "city": "string",
                              "state": "string",
                              "zipCode": "string",
                              "country": "string"
                            }
                          },
                          "currentAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string",
                            "country": "string"
                          },
                          "previousAddress": [
                            {
                              "line1": "string",
                              "line2": "string",
                              "city": "string",
                              "state": "string",
                              "zipCode": "string",
                              "country": "string"
                            }
                          ]
                        },
                        "secondaryApplicant": {
                          "name": {
                            "lastName": "string",
                            "firstName": "string",
                            "middleName": "string",
                            "generationCode": "string",
                            "prefix": "string"
                          },
                          "dob": {
                            "dob": "string"
                          },
                          "ssn": {
                            "ssn": "string"
                          },
                          "ein": {
                            "ein": "string"
                          },
                          "tin": {
                            "tin": "string"
                          },
                          "driverslicense": {
                            "number": "string",
                            "state": "string"
                          },
                          "secondaryId": {
                            "type": "string",
                            "value": "string",
                            "region": "string",
                            "country": "string",
                            "expiration": "string"
                          },
                          "phone": [
                            {
                              "number": "string",
                              "type": "string"
                            }
                          ],
                          "emailId": {
                            "emailId": "string"
                          },
                          "employment": {
                            "employerName": "string",
                            "employerAddress": {
                              "line1": "string",
                              "line2": "string",
                              "city": "string",
                              "state": "string",
                              "zipCode": "string",
                              "country": "string"
                            }
                          },
                          "currentAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string",
                            "country": "string"
                          },
                          "previousAddress": [
                            {
                              "line1": "string",
                              "line2": "string",
                              "city": "string",
                              "state": "string",
                              "zipCode": "string",
                              "country": "string"
                            }
                          ]
                        }
                      },
                      "requestor": {
                        "subscriberCode": "string"
                      },
                      "permissiblePurpose": {
                        "type": "string",
                        "terms": "string",
                        "abbreviatedAmount": "string"
                      },
                      "resellerInfo": {
                        "endUserName": "string"
                      },
                      "freezeOverride": {
                        "primaryApplFreezeOverrideCode": "string",
                        "secondaryApplFreezeOverrideCode": "string"
                      },
                      "vendorData": {
                        "vendorNumber": "string",
                        "vendorVersion": "string"
                      },
                      "secondarySale": {
                        "secondarySaleIndicator": "string",
                        "primaryIcraaReferenceId": "string",
                        "secondaryIcraaReferenceId": "string"
                      },
                      "numericInquiry": {
                        "addressNumber": "string",
                        "addressZip": "string",
                        "ssn": "string"
                      },
                      "mlaReport": "string",
                      "addOns": {
                        "directCheck": "string",
                        "demographics": "string",
                        "digitalSignature": "string",
                        "liftPremium": "string",
                        "clarityEarlyRiskScore": "string",
                        "clarityAttributes": "string",
                        "clarityData": {
                          "clarityAccountId": "string",
                          "clarityLocationId": "string",
                          "clarityControlFileName": "string",
                          "clarityControlFileVersion": "string",
                          "clarityAttributesControlFileName": "string",
                          "clarityProducts": [
                            "string"
                          ]
                        },
                        "creditScoreNotice": "string",
                        "creditScoreNoticeData": {
                          "noticeType": "string",
                          "riskModelIndicator": "string"
                        },
                        "eCBSV": "string",
                        "eCBSVData": {
                          "employerIdentificationNumber": "string",
                          "consentDate": "string",
                          "consentType": "string"
                        },
                        "renterRiskScore": "string",
                        "rentBureauData": {
                          "primaryApplRentBureauFreezePin": "string",
                          "secondaryApplRentBureauFreezePin": "string"
                        },
                        "riskModels": {
                          "modelIndicator": [
                            "string"
                          ],
                          "scorePercentile": "string"
                        },
                        "summaries": {
                          "summaryType": [
                            "string"
                          ]
                        },
                        "fraudShield": "string",
                        "mla": "string",
                        "ofacmsg": "string",
                        "ofac": "string",
                        "brokerNumber": "string",
                        "consumerIdentCheck": {
                          "getUniqueConsumerIdentifier": "string",
                          "verifyPrimaryConsumerIdentifier": "string",
                          "verifySecondaryConsumerIdentifier": "string"
                        },
                        "joint": "string",
                        "paymentHistory84": "string",
                        "syntheticId": "string",
                        "taxRefundLoan": "string",
                        "sureProfile": "string",
                        "sureProfileV2": "string",
                        "sureProfileAttributes": "string",
                        "ssnIndicators": "string",
                        "newConsumer": "string",
                        "trendedData": "string",
                        "fcraAttributes": "string",
                        "outputType": "string",
                        "outputTypeData": {
                          "heading": "string"
                        },
                        "covidSpotlightAttributes": "string",
                        "staggSelect": "string",
                        "incomeAndEmploymentReport": "string",
                        "incomeAndEmploymentReportData": {
                          "verifierName": "string",
                          "reportType": "string"
                        },
                        "mlAttributes": "string",
                        "emailAddress": "string",
                        "ascendGoData": {
                          "solutionId": "string",
                          "experianAttributesInAdditionalServices": "string",
                          "experianCustomScoresInAdditionalServices": "string",
                          "returnInputAttributes": "string",
                          "includeDecisionInputInResponse": "string",
                          "requestType": [
                            "string"
                          ],
                          "referenceIds": [
                            {
                              "consumerReferenceId": "string",
                              "experianReferenceId": "string",
                              "applicantType": "string"
                            }
                          ],
                          "opsModelSpecificCustomData": [
                            {
                              "modelId": "string",
                              "modelIndicator": "string",
                              "modelName": "string",
                              "applicantType": "string",
                              "attributes": [
                                {
                                  "attribute": "string",
                                  "value": "string"
                                }
                              ]
                            }
                          ],
                          "bureauData": [
                            {
                              "bureauId": "string",
                              "dataSource": "string",
                              "inquiryData": [
                                {
                                  "name": "string",
                                  "value": "string"
                                }
                              ],
                              "bureauModels": [
                                "string"
                              ]
                            }
                          ],
                          "appSpecificCustomData": [
                            {
                              "appId": "string",
                              "applicantType": "string",
                              "properties": [
                                {
                                  "name": "string",
                                  "value": "string"
                                }
                              ]
                            }
                          ],
                          "productData": [
                            {
                              "productName": "string",
                              "applicantType": "string",
                              "options": [
                                {
                                  "name": "string",
                                  "value": "string"
                                }
                              ]
                            }
                          ]
                        },
                        "ewsCheck": "string",
                        "ewsDataRequest": {
                          "clientAcctId": "string",
                          "billingClientId": "string",
                          "billingClientAcctId": "string",
                          "clientTransactionId": "string",
                          "clientContext": "string",
                          "clientContext2": "string",
                          "clientContext3": "string",
                          "clientContext4": "string",
                          "inquiryReason": "string",
                          "inquiryCustomerType": "string",
                          "inquiryChannel": "string"
                        },
                        "displayInputSubscriberCode": "string",
                        "debtManagementIndicator": "string",
                        "debtManagementAttributes": "string",
                        "unparsedArf": "string",
                        "conditionalProcessing": {
                          "model": "string",
                          "comparisonCriteria": "string",
                          "cutoffCriteria": "string",
                          "criteriaMetOutput": "string",
                          "criteriaNotMetOutput": "string"
                        },
                        "verboseText": "string"
                      },
                      "customOptions": {
                        "optionId": [
                          "string"
                        ]
                      },
                      "verifyId": "string",
                      "daasReferenceId": "string",
                      "infoId1": {
                        "item": [
                          "string"
                        ]
                      },
                      "infoId2": {
                        "item": [
                          "string"
                        ]
                      },
                      "infoId3": {
                        "item": [
                          "string"
                        ]
                      },
                      "infoId4": {
                        "item": [
                          "string"
                        ]
                      },
                      "infoId5": {
                        "item": [
                          "string"
                        ]
                      },
                      "encryptedPayloadRequest": "string"
                    }
              TestCase_Income_and_Employment_Report:   # Example 1
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "CANN",
                                    "firstName": "JOHN",
                                    "middleName": "N"
                                },
                                "dob": {
                                    "dob": "1955"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "510 MONDRE ST",
                                    "city": "MICHIGAN CITY",
                                    "state": "IN",
                                    "zipCode": "46360"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "08"
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC21"
                        },
                        "vendorData": {
                            "vendorNumber": "072",
                            "vendorVersion": "V1.29"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Only Phone",
                            "clarityEarlyRiskScore": "Y",
                            "liftPremium": "Y",
                            "clarityData": {
                                "clarityAccountId": "0000000",
                                "clarityLocationId": "000000",
                                "clarityControlFileName": "test_file",
                                "clarityControlFileVersion": "0000000"
                            },
                            "renterRiskScore": "N",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [
                                    ""
                                ],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    ""
                                ]
                            },
                            "fraudShield": "Y",
                            "mla": "",
                            "ofacmsg": "",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "joint": "",
                            "paymentHistory84": "",
                            "syntheticId": "N",
                            "taxRefundLoan": "Y",
                            "sureProfile": "Y",
                            "incomeAndEmploymentReport": "Y",
                            "incomeAndEmploymentReportData": {
                                "verifierName": "Experian",
                                "reportType": "ExpVerify-Plus"
                            }
                        },
                        "customOptions": {
                            "optionId": [
                                "COADEX"
                            ]
                        }
                    }
              TestCase_Rent_Bureau:   # Example 2
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "ARMSTRONG",
                                    "firstName": "KARL",
                                    "middleName": "E"
                                },
                                "dob": {
                                    "dob": "1959"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "1073 BUCKINGHAM DR",
                                    "city": "CAROL STREAM",
                                    "state": "IL",
                                    "zipCode": "60188"
                                }
                            },
                            "secondaryApplicant": {
                                "name": {
                                    "lastName": "REYNOLDS",
                                    "firstName": "ROBERTS"
                                },
                                "dob": {
                                    "dob": "10041962"
                                },
                                "ssn": {
                                    "ssn": "333333333"
                                },
                                "driverslicense": {
                                    "number": "A00000000000",
                                    "state": "CT"
                                },
                                "employment": {
                                    "employerName": "HOMELAND SECURITY"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": ""
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC24"
                        },
                        "vendorData": {
                            "vendorNumber": "072",
                            "vendorVersion": "V1.29"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Geocode and Phone",
                            "clarityEarlyRiskScore": "Y",
                            "clarityData": {
                                "clarityAccountId": "0000000",
                                "clarityLocationId": "000000",
                                "clarityControlFileName": "test_file2",
                                "clarityControlFileVersion": "0000000"
                            },
                            "renterRiskScore": "Y",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [
                                    ""
                                ],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    ""
                                ]
                            },
                            "fraudShield": "Y",
                            "mla": "",
                            "ofacmsg": "",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "joint": "",
                            "paymentHistory84": "",
                            "syntheticId": "Y",
                            "taxRefundLoan": "N",
                            "sureProfile": "Y",
                            "fcraAttributes": "Y",
                            "ascendGoData": {
                                "solutionId": "TESTSOLID"
                            }
                        }
                    }
              TestCase_Fraud_Shield:   # Example 3
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "ARMSTRONG",
                                    "firstName": "KARL",
                                    "middleName": "E"
                                },
                                "dob": {
                                    "dob": "1959"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "1073 BUCKINGHAM DR",
                                    "city": "CAROL STREAM",
                                    "state": "IL",
                                    "zipCode": "60188"
                                }
                            },
                            "secondaryApplicant": {
                                "dob": {
                                    "dob": "10041962"
                                },
                                "ssn": {
                                    "ssn": ""
                                },
                                "driverslicense": {
                                    "number": "A24606453181",
                                    "state": "CT"
                                },
                                "employment": {
                                    "employerName": "HOMELAND SECURITY"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": ""
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC26"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Geocode and Phone",
                            "clarityEarlyRiskScore": "N",
                            "clarityData": {
                                "clarityAccountId": "0000000",
                                "clarityLocationId": "000000",
                                "clarityControlFileName": "test_file",
                                "clarityControlFileVersion": "0000000"
                            },
                            "renterRiskScore": "N",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [
                                    ""
                                ],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    ""
                                ]
                            },
                            "fraudShield": "Y",
                            "mla": "",
                            "ofacmsg": "",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "joint": "",
                            "paymentHistory84": "",
                            "syntheticId": "N"
                        },
                        "customOptions": {
                            "optionId": [
                                ""
                            ]
                        }
                    }
              TestCase_Clarity_Attributes:   # Example 4
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "NATIUIDAD",
                                    "firstName": "KATHLEEN",
                                    "middleName": "K"
                                },
                                "dob": {
                                    "dob": "1959"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "3878 DAKLAWN AVE",
                                    "city": "DALLAS",
                                    "state": "TX",
                                    "zipCode": "75219"
                                }
                            },
                            "secondaryApplicant": {
                                "name": {
                                    "lastName": "JAY",
                                    "firstName": "JUDY",
                                    "generationCode": "II"
                                },
                                "ssn": {
                                    "ssn": "333333333"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": ""
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC27"
                        },
                        "freezeOverride": {
                            "primaryApplFreezeOverrideCode": "000002522653451",
                            "secondaryApplFreezeOverrideCode": "000002909814012"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Geocode and Phone",
                            "clarityEarlyRiskScore": "N",
                            "renterRiskScore": "N",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [
                                    "M2",
                                    "F1",
                                    "N",
                                    "V",
                                    "AA",
                                    "AB",
                                    "AD",
                                    "SP",
                                    "V3",
                                    "AG"
                                ],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    ""
                                ]
                            },
                            "fraudShield": "",
                            "mla": "",
                            "ofacmsg": "",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "clarityAttributes": "Y",
                            "clarityData": {
                                "clarityAccountId": "12345",
                                "clarityLocationId": "222",
                                "clarityControlFileName": "CLARITY_CONTROL_FILE",
                                "clarityControlFileVersion": "01",
                                "clarityAttributesControlFileName": "CLARITY_ATTR_CTRL_FILE"
                            },
                            "joint": "Y",
                            "paymentHistory84": ""
                        },
                        "customOptions": {
                            "optionId": [
                                ""
                            ]
                        }
                    }
              TestCase_Clarity_Early_Risk_Score:   # Example 5
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "NATIUIDAD",
                                    "firstName": "KATHLEEN",
                                    "middleName": "K"
                                },
                                "dob": {
                                    "dob": "1959"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "3878 DAKLAWN AVE",
                                    "city": "DALLAS",
                                    "state": "TX",
                                    "zipCode": "75219"
                                }
                            },
                            "secondaryApplicant": {
                                "name": {
                                    "lastName": "JAY",
                                    "firstName": "JUDY",
                                    "generationCode": "II"
                                },
                                "ssn": {
                                    "ssn": "333333333"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "48"
                        },
                        "resellerInfo": {
                            "endUserName": "CPAPIV2TC28"
                        },
                        "addOns": {
                            "directCheck": "",
                            "demographics": "Geocode and Phone",
                            "clarityEarlyRiskScore": "Y",
                            "clarityData": {
                                "clarityAccountId": "0000000",
                                "clarityLocationId": "000000",
                                "clarityControlFileName": "test_file",
                                "clarityControlFileVersion": "0000000"
                            },
                            "renterRiskScore": "Y",
                            "rentBureauData": {
                                "primaryApplRentBureauFreezePin": "1234",
                                "secondaryApplRentBureauFreezePin": "112233"
                            },
                            "riskModels": {
                                "modelIndicator": [],
                                "scorePercentile": ""
                            },
                            "summaries": {
                                "summaryType": [
                                    "Profile Summary"
                                ]
                            },
                            "fraudShield": "",
                            "mla": "",
                            "ofacmsg": "Y",
                            "consumerIdentCheck": {
                                "getUniqueConsumerIdentifier": ""
                            },
                            "joint": "Y",
                            "paymentHistory84": ""
                        },
                        "customOptions": {
                            "optionId": [
                                ""
                            ]
                        }
                    }                
              TestCase_Email_Address:   # Example 6
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "CBRILEY",
                                    "firstName": "KIMBERLY"
                                },
                                "dob": {
                                    "dob": "01011969"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "5870 SPENCER PIKE",
                                    "city": "MOUNT STERLING",
                                    "state": "KY",
                                    "zipCode": "40353"
                                }
                            }
                        },
                        "permissiblePurpose": {
                            "type": "18"
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "addOns": {
                            "riskModels": {
                                "modelIndicator": [
                                    "F",
                                    "V3"
                                ],
                                "scorePercentile": "Y"
                            },
                            "emailAddress": "Y",
                            "digitalSignature": "Y"
                        }
                    }
              TestCase_LiftPremium_DigitalSignature_SureProfile:   # Example 7
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "KREMER",
                                    "firstName": "JEAN"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "5635 KIPPEN DR",
                                    "city": "EAST AMHERST",
                                    "state": "NY",
                                    "zipCode": "140511966"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "addOns": {
                            "clarityAttributes": "N",
                            "clarityData": {
                                "clarityAccountId": "654",
                                "clarityLocationId": "10379",
                                "clarityControlFileName": "CVA_RA"
                            },
                            "ascendGoData": {
                                "solutionId": "XGOAZTECDE"
                            },
                            "liftPremium": "Y",
                            "digitalSignature": "Y",
                            "sureProfile": "Y"
                        },
                        "customOptions": {
                            "optionId": [
                                "ASCEND_GO"
                            ]
                        }
                    }              
              TestCase_Multibureau_DecisionResponse:   # Example 11 - Decision Response
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "SHINDELAR",
                                    "firstName": "VINCENT",
                                    "middleName": "E",
                                    "generationCode": "SR"
                                },
                                "dob": {
                                    "dob": "11021933"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "2541 STONE RIDGE DR",
                                    "city": "POPLAR BLUFF",
                                    "state": "MO",
                                    "zipCode": "639012169"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "98"
                        },
                        "addOns": {
                            "ascendGoData": {
                                "solutionId": "AOOMFDAT",
                                "requestType": [
                                    "decisioning"
                                ],
                                "referenceIds": [
                                    {
                                        "experianReferenceId": "rrt-dummy-transactionid-1rrt-dummy-transactionid-2rrt-dummy-transactionid-3rrt-dummy-transactionid-4",
                                        "consumerReferenceId": "rrt-dummy-transactionid-1rrt-dummy-transactionid-2rrt-dummy-transactionid-3rrt-dummy-transactionid-4",
                                        "applicantType": "primary"
                                    },
                                    {
                                        "experianReferenceId": "rrt-dummy-transactionid-1rrt-dummy-transactionid-2rrt-dummy-transactionid-3rrt-dummy-transactionid-4",
                                        "consumerReferenceId": "rrt-dummy-transactionid-1rrt-dummy-transactionid-2rrt-dummy-transactionid-3rrt-dummy-transactionid-4",
                                        "applicantType": "secondary"
                                    }
                                ],
                                "appSpecificCustomData": [
                                    {
                                        "appId": "decisioning",
                                        "applicantType": "primary",
                                        "properties": [
                                            {
                                                "name": "collateral_value",
                                                "value": "678"
                                            },
                                            {
                                                "name": "collateral_value",
                                                "value": "123"
                                            },
                                            {
                                                "name": "collateral_value",
                                                "value": "56"
                                            },
                                            {
                                                "name": "collateral_value",
                                                "value": "678"
                                            },
                                            {
                                                "name": "collateral_value",
                                                "value": "678"
                                            },
                                            {
                                                "name": "collateral_value",
                                                "value": "678"
                                            },
                                            {
                                                "name": "collateral_value",
                                                "value": "678"
                                            }
                                        ]
                                    }
                                ],
                                "bureauData": [
                                    {
                                        "bureauId": "Clarity",
                                        "inquiryData": [
                                            {
                                                "name": "account_id",
                                                "value": "3333"
                                            },
                                            {
                                                "name": "location_id",
                                                "value": "11111"
                                            },
                                            {
                                                "name": "control_file_name",
                                                "value": "XXXX_XX"
                                            },
                                            {
                                                "name": "control_file_version",
                                                "value": "1"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "customOptions": {
                            "optionId": [
                                "ASCEND_GO"
                            ]
                        }
                    }
              Failure_Invalid CurrentAddress:   # Example 17
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "BOLTON",
                                    "firstName": "PEGGY"
                                },
                                "dob": {
                                    "dob": "1948"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "phone": [
                                    {
                                        "type": "T",
                                        "number": "555-673-1001"
                                    }
                                ],
                                "currentAddress": {
                                    "line1": " ",
                                    "city": "DECATUR",
                                    "state": "GA",
                                    "zipCode": "30033"
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "3F"
                        },
                        "resellerInfo": {
                            "endUserName": "ABC"
                        }
                    }           
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 18
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "COLLINS",
                                    "firstName": "DANIEL"
                                },
                                "dob": {
                                    "dob": "04181961"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "3064 WOLFE DR",
                                    "line2": "",
                                    "city": "FAIRBORN",
                                    "state": "OH",
                                    "zipCode": "45324-2140"
                                },
                                "previousAddress": [
                                    {
                                        "line1": "836 WASHINGTON AVE",
                                        "line2": "",
                                        "city": "FAIRBORN",
                                        "state": "OH",
                                        "zipCode": "453243840"
                                    }
                                ]
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "18",
                            "terms": "010",
                            "abbreviatedAmount": "010"
                        },
                        "addOns": {
                            "riskModels": {
                                "modelIndicator": [
                                    "AS"
                                ],
                                "scorePercentile": ""
                            }
                        },
                        "resellerInfo": {
                            "endUserName": "ABC"
                        }
                    }                                     
              Failure_Inquiry not allowed:   # Example 19
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "COLLINS",
                                    "firstName": "DANIEL"
                                },
                                "dob": {
                                    "dob": "04181961"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "3064 WOLFE DR",
                                    "line2": "",
                                    "city": "FAIRBORN",
                                    "state": "OH",
                                    "zipCode": "45324-2140"
                                },
                                "previousAddress": [
                                    {
                                        "line1": "836 WASHINGTON AVE",
                                        "line2": "",
                                        "city": "FAIRBORN",
                                        "state": "OH",
                                        "zipCode": "453243840"
                                    }
                                ]
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "18",
                            "terms": "10",
                            "abbreviatedAmount": "10"
                        },
                        "addOns": {
                            "riskModels": {
                                "modelIndicator": [
                                    "AS"
                                ],
                                "scorePercentile": ""
                            }
                        },
                        "customOptions": {
                            "optionId": [
                                "test"
                            ]
                        },
                        "resellerInfo": {
                            "endUserName": "ABC"
                        }
                    }
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 20
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "COLLINS",
                                    "firstName": "DANIEL"
                                },
                                "dob": {
                                    "dob": "04181961"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "currentAddress": {
                                    "line1": "3064 WOLFE DR",
                                    "line2": "",
                                    "city": "FAIRBORN",
                                    "state": "OH",
                                    "zipCode": "45324-2140"
                                },
                                "previousAddress": [
                                    {
                                        "line1": "836 WASHINGTON AVE",
                                        "line2": "",
                                        "city": "FAIRBORN",
                                        "state": "OH",
                                        "zipCode": "453243840"
                                    }
                                ]
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "18",
                            "terms": "010",
                            "abbreviatedAmount": "010"
                        },
                        "addOns": {
                            "riskModels": {
                                "modelIndicator": [
                                    "A"
                                ],
                                "scorePercentile": ""
                            }
                        },
                        "customOptions": {
                            "optionId": [
                                "test12"
                            ]
                        },
                        "resellerInfo": {
                            "endUserName": "ABC"
                        }
                    }
              Failure_Invalid LastName:   # Example 21
                value:
                    {
                        "consumerPii": {
                            "primaryApplicant": {
                                "name": {
                                    "lastName": "-",
                                    "firstName": "PEGGY"
                                },
                                "dob": {
                                    "dob": "1948"
                                },
                                "ssn": {
                                    "ssn": "111111111"
                                },
                                "phone": [
                                    {
                                        "type": "T",
                                        "number": "555-673-1001"
                                    }
                                ],
                                "currentAddress": {
                                    "line1": "2965 ATTERBERRY CT",
                                    "city": " ",
                                    "zipCode": " "
                                }
                            }
                        },
                        "requestor": {
                            "subscriberCode": "2222222"
                        },
                        "permissiblePurpose": {
                            "type": "3F"
                        },
                        "resellerInfo": {
                            "endUserName": "ABC"
                        }
                    }
                  
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/creditProfileResponseForCP'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailerAndErrorType'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /v1/employment-insight:
    post:
      tags:
      - Consumer Services
      summary: Employment Insight
      description: 'Employment Insight, a slightly modified version of the Experian
        Credit Profile report, contains consumer identification, employment history,
        and credit information used to substantiate information during the hiring
        or promotion process. As a verification tool, it is used to spot inconsistencies
        in address and employment information, confirm Social Security numbers, and
        reveal other names used. Credit information provided may provide insight on
        an applicant''s responsibility toward his/her obligations. <br><br> We are
        providing 10 test cases for client testing under "Examples" button below which
        include first 5 positive test cases and rest 5 negative test cases. Eg: Success_1,
        Failure_Invalid surname etc.'
      operationId: EmploymentInsightData
      parameters:
      - name: clientReferenceId
        in: header
        description: API client generated reference Id to uniquely identify the API
          request.
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/employmentInsightRequest'
            examples:
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                      "primaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        },
                        "currentAddress": {
                          "line1": "string",
                          "line2": "string",
                          "city": "string",
                          "state": "string",
                          "zipCode": "string"
                        },
                        "previousAddress": [
                          {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        ]
                      }
                    },
                    "requestor": {
                      "subscriberCode": "string"
                    },
                    "permissiblePurpose": {
                      "type": "string",
                      "terms": "string",
                      "abbreviatedAmount": "string"
                    },
                    "resellerInfo": {
                      "endUserName": "string"
                    },
                    "freezeOverride": {
                      "primaryApplFreezeOverrideCode": "string"
                    },
                    "vendorData": {
                      "vendorNumber": "string",
                      "vendorVersion": "string"
                    },
                    "addOns": {
                      "directCheck": "string",
                      "demographics": "string",
                      "summaries": {
                        "summaryType": [
                          "string"
                        ]
                      },
                      "fraudShield": "string",
                      "ofacmsg": "string",
                      "consumerIdentCheck": {
                        "getUniqueConsumerIdentifier": "string",
                        "verifyPrimaryConsumerIdentifier": "string"
                      },
                      "paymentHistory84": "string"
                    },
                    "customOptions": {
                      "optionId": [
                        "string"
                      ]
                    }
                  }
              Success_1:   # Example 1
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: CANN
                        firstName: JOHN
                        middleName: 'N'
                      ssn:
                        ssn: '111111111'
                      employment:
                        employerName: NEWENGLAND LIFE
                        employerAddress:
                          line1: CHECK
                      currentAddress:
                        line1: 510 MONROE ST
                        city: MICHIGAN CITY
                        state: IN
                        zipCode: 46360-5040
                  requestor:
                    subscriberCode: '2222222'
                  
              Success_2:   # Example 2
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COENEN
                        firstName: LUCRIETTA
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 11918 LATIGO
                        city: OAKTON
                        state: VA
                        zipCode: '22124'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '35'
                  addOns:
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                  
              Success_3:   # Example 3
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COENEN
                        firstName: LUCRIETTA
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 11918 LATIGO
                        city: OAKTON
                        state: VA
                        zipCode: '22124'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '35'
                  addOns:
                    directCheck: 'Y'
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                  
              Success_4:   # Example 4
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ELREFAI
                        firstName: PHILLIP
                      ssn:
                        ssn: 111-11-1111
                      driverslicense:
                        number: '16413467'
                        state: TX
                      currentAddress:
                        line1: 9875 WHITEWOOD AVE
                        city: ELLSWORTH AFB
                        state: SD
                        zipCode: '57706'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '35'
                  
              Success_5:   # Example 5
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COENEN
                        firstName: LUCRIETTA
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 11918 LATIGO
                        city: OAKTON
                        state: VA
                        zipCode: '22124'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '35'
                  resellerInfo:
                    endUserName: PR50472 TC1
                  addOns:
                    directCheck: 'Y'
                    summaries:
                      summaryType:
                        - Profile Summary
                    fraudShield: 'Y'
                  
              Failure_Invalid CurrentAddress:   # Example 6
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOLTON
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: ' '
                        city: DECATUR
                        state: GA
                        zipCode: '30033'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose: {}
                  resellerInfo:
                    endUserName: ABC1
                  
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 7
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    terms: '010'
                    abbreviatedAmount: '010'
                  addOns: {}
                  resellerInfo:
                    endUserName: ABC2
                                                       
              Failure_Inquiry not allowed:   # Example 8
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    terms: '10'
                    abbreviatedAmount: '10'
                  addOns: {}
                  customOptions:
                    optionId:
                      - test
                  resellerInfo:
                    endUserName: ABC3
                                                     
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 9
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    terms: '010'
                    abbreviatedAmount: '010'
                  customOptions:
                    optionId:
                      - test12
                  resellerInfo:
                    endUserName: ABC4
                     
              Failure_Invalid surname:   # Example 10
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: '-'
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: 2965 ATTERBERRY CT
                        city: ' '
                        zipCode: ' '
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose: {}
                  resellerInfo:
                    endUserName: ABC5
                  
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/creditProfileResponseForEmploymentInsightData'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /v1/healthcare-credit-profile:
    post:
      tags:
      - Consumer Services
      summary: Healthcare Credit Profile
      description: 'The Healthcare Profile is a credit profile report designed specifically
        for the healthcare industry. It consists of a standard credit report in which
        unused fields are suppressed plus an optional Healthcare Summary segment.
        <br><br> We are providing 10 test cases for client testing under "Examples"
        button below which include first 5 positive test cases and rest 5 negative
        test cases. Eg: Success_1, Failure_Invalid surname etc.'
      operationId: HealthcareCreditProfileData
      parameters:      
      - name: clientReferenceId
        in: header
        description: API client generated reference Id to uniquely identify the API
          request.
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/healthcareCreditRequest'
            examples:
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                        "primaryApplicant": {
                            "name": {
                                "lastName": "string",
                                "firstName": "string",
                                "middleName": "string",
                                "generationCode": "string"
                            },
                            "dob": {
                                "dob": "string"
                            },
                            "ssn": {
                                "ssn": "string"
                            },
                            "driverslicense": {
                                "number": "string",
                                "state": "string"
                            },
                            "phone": [
                                {
                                    "number": "string",
                                    "type": "string"
                                }
                            ],
                            "employment": {
                                "employerName": "string",
                                "employerAddress": {
                                    "line1": "string",
                                    "line2": "string",
                                    "city": "string",
                                    "state": "string",
                                    "zipCode": "string"
                                }
                            },
                            "currentAddress": {
                                "line1": "string",
                                "line2": "string",
                                "city": "string",
                                "state": "string",
                                "zipCode": "string"
                            },
                            "previousAddress": [
                                {
                                    "line1": "string",
                                    "line2": "string",
                                    "city": "string",
                                    "state": "string",
                                    "zipCode": "string"
                                }
                            ]
                        },
                        "secondaryApplicant": {
                            "name": {
                                "lastName": "string",
                                "firstName": "string",
                                "middleName": "string",
                                "generationCode": "string"
                            },
                            "dob": {
                                "dob": "string"
                            },
                            "ssn": {
                                "ssn": "string"
                            },
                            "driverslicense": {
                                "number": "string",
                                "state": "string"
                            },
                            "phone": [
                                {
                                    "number": "string",
                                    "type": "string"
                                }
                            ],
                            "employment": {
                                "employerName": "string",
                                "employerAddress": {
                                    "line1": "string",
                                    "line2": "string",
                                    "city": "string",
                                    "state": "string",
                                    "zipCode": "string"
                                }
                            }
                        }
                    },
                    "requestor": {
                        "subscriberCode": "string"
                    },
                    "permissiblePurpose": {
                        "type": "string",
                        "terms": "string",
                        "abbreviatedAmount": "string"
                    },
                    "resellerInfo": {
                        "endUserName": "string"
                    },
                    "freezeOverride": {
                        "primaryApplFreezeOverrideCode": "string",
                        "secondaryApplFreezeOverrideCode": "string"
                    },
                    "vendorData": {
                        "vendorNumber": "string",
                        "vendorVersion": "string"
                    },
                    "addOns": {
                        "directCheck": "string",
                        "demographics": "string",
                        "liftPremium": "string",
                        "clarityEarlyRiskScore": "string",
                        "clarityData": {
                            "clarityAccountId": "string",
                            "clarityLocationId": "string",
                            "clarityControlFileName": "string",
                            "clarityControlFileVersion": "string"
                        },
                        "riskModels": {
                            "modelIndicator": [
                                "string"
                            ],
                            "scorePercentile": "string"
                        },
                        "summaries": {
                            "summaryType": [
                                "string"
                            ]
                        },
                        "fraudShield": "string",
                        "mla": "string",
                        "ofacmsg": "string",
                        "consumerIdentCheck": {
                            "getUniqueConsumerIdentifier": "string",
                            "verifyPrimaryConsumerIdentifier": "string",
                            "verifySecondaryConsumerIdentifier": "string"
                        },
                        "joint": "string",
                        "paymentHistory84": "string"
                    },
                    "customOptions": {
                        "optionId": [
                            "string"
                        ]
                    }
                }
              Success_1:   # Example 1
                value:
                  {
                    "consumerPii": {
                        "primaryApplicant": {
                            "name": {
                                "lastName": "CANN",
                                "firstName": "JOHN",
                                "middleName": "N"
                            },
                            "ssn": {
                                "ssn": "111111111"
                            },
                            "phone": [
                                {
                                    "number": "0987654321"
                                }
                            ],
                            "currentAddress": {
                                "line1": "510 MONDRE ST",
                                "city": "MICHIGAN CITY",
                                "state": "IN",
                                "zipCode": "46360"
                            }
                        }
                    },
                    "requestor": {
                        "subscriberCode": "2222222"
                    },
                    "vendorData": {
                        "vendorNumber": "072",
                        "vendorVersion": "V1.05"
                    },
                    "addOns": {
                        "clarityEarlyRiskScore": "Y",
                        "liftPremium": "Y",
                        "clarityData": {
                            "clarityAccountId": "1234567",
                            "clarityLocationId": "123456",
                            "clarityControlFileName": "test_file",
                            "clarityControlFileVersion": "1234567"
                        },
                        "ofacmsg": "Y",
                        "joint": "Y",
                        "riskModels": {
                            "modelIndicator": [
                                "F",
                                "B",
                                "I",
                                "SP",
                                "M",
                                "5"
                            ]
                        }
                    }
                }
              Success_2:   # Example 2
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: KOTHARI
                        firstName: MARIA
                        middleName: ''
                      dob:
                        dob: '1957'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - number: '1234567890'
                      currentAddress:
                        line1: PO BOX 1116
                        city: KEALAKEKUA
                        state: HI
                        zipCode: '967501116'
                  requestor:
                    subscriberCode: '2222222'
                  freezeOverride:
                    primaryApplFreezeOverrideCode: CT1000325300000
                  addOns:
                    clarityEarlyRiskScore: 'Y'
                    clarityData:
                      clarityAccountId: '88888'
                      clarityLocationId: '123456'
                      clarityControlFileName: test_file
                      clarityControlFileVersion: '88888898'
                    ofacmsg: 'Y'
                    joint: 'Y'
                    riskModels:
                      modelIndicator:
                        - F
                  
              Success_3:   # Example 3
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                        middleName: E
                      ssn:
                        ssn: '111111111'
                      phone:
                        - number: '1234567890'
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                  requestor:
                    subscriberCode: '2222222'
                  addOns:
                    clarityEarlyRiskScore: 'N'
                    clarityData:
                      clarityAccountId: '98654321'
                      clarityLocationId: '00000'
                      clarityControlFileName: test_file
                    riskModels:
                      modelIndicator:
                        - '2'
                    fraudShield: 'Y'
                  
              Success_4:   # Example 4
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: NATIUIDAD
                        firstName: KATHLEEN
                        middleName: K
                      ssn:
                        ssn: '111111111'
                      phone:
                        - number: '1234567890'
                      currentAddress:
                        line1: 3878 DAKLAWN AVE
                        city: DALLAS
                        state: TX
                        zipCode: '75219'
                  requestor:
                    subscriberCode: '2222222'
                  
              Success_5:   # Example 5
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                      dob:
                        dob: '1959'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - number: '1234567890'
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                    secondaryApplicant:
                      name:
                        lastName: LINS
                        firstName: NELSON
                      ssn:
                        ssn: '333333333'
                  requestor:
                    subscriberCode: '2222222'
                  addOns:
                    directCheck: 'Y'
                    demographics: Geocode and Phone
                    mla: 'Y'
                    paymentHistory84: 'Y'
                  
              Failure_Invalid CurrentAddress:   # Example 6
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOLTON
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: ' '
                        city: DECATUR
                        state: GA
                        zipCode: '30033'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC1
                  
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 7
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    terms: '010'
                    abbreviatedAmount: '010'
                  resellerInfo:
                    endUserName: ABC2
                                                       
              Failure_Inquiry not allowed:   # Example 8
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
[...]
